*{
  padding: 0;
  margin: 0;
}

main{
  display: flex;
}

main .left{
  width: 15%;
  height: 100vh;
  background-color: #e27d5f;
  color: white;
  overflow-y: scroll;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main .left h3{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  height: 40px;
  margin: 0;
  padding: 0;
}

main .left::-webkit-scrollbar {
  width: 10px;
}

main .left::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

main .left::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}

main .left ul li{
  list-style: none;
  padding: 0px 10px;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.li-item h4,
.li-item h6,
.li-item a {
  margin-bottom: 5px; /* Adjust the value as needed */
}

main .left ul li a{
  text-decoration: none;
  color: white;
}

#map{
  height: 100vh;
  width: 85%;
}
